<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 version="2.5">
  <display-name>jensoft catalog server</display-name>
  <listener>
    <listener-class>com.jensoft.catalog.server.CatalogRepository</listener-class>
  </listener>
  <context-param>
    <param-name>repository-scan</param-name>
    <param-value>org.jensoft.catalog</param-value>
  </context-param>
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>
             com.sun.jersey.spi.container.servlet.ServletContainer
     </servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.jensoft.catalog.server</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey-serlvet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
</web-app>